<div ng-controller="PoliceClient">
    <!-- 	<button ng-click="removeAll()">remove all</button>
        <form>
          <label>Name</label>
          <input ng-model="parties[0].name" ng-change="inputing();">
          <label>Description</label>
          <input ng-model="newParty.description">
          <button ng-click="parties.save(); newParty='';">Add</button>
          <input ng-model="parties[0].name">

        </form> -->
    <div class="cantainer">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

             <h1>pc</h1>

                <hr>
                <form action="">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="号牌类型" ng-model="parties[0].type">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="号牌号码" ng-model="parties[0].number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="处理罚单数" ng-model="parties[0].count">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="扣分数" ng-model="parties[0].points">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="电话" ng-model="parties[0].telnumber">
                        </div>
                    </div>
                    <input type="text" ng-model="parties1[0].status" style="display:none">

                    <div class="row">
                        <div class=" col-sm-6" ng-show="parties1[0].status">
                            <img src="a1.gif" alt="">
                        </div>
                        <div class=" col-sm-6" ng-show="!parties1[0].status" >
                            <img src="a2.gif" alt="">
                        </div>
                    </div>
                    <button class="btn btn-success" ng-click="removeAll()">全部清空</button>
                    <input id="inpPCstatus" type="text" class="btn btn-success"  ng-model="parties1[0].status" style="display:none"/>
                    <a id="btnOK" class="btn btn-success" ng-click="status()" ng-model="parties1[0].status">确认</a>
                </form>
            </div>
        </div>
    </div>

    <!-- <ul>
	  <li ng-repeat="party in parties">
	    {{party.name}}
	    <p>{{party.description}}</p>
	    <button ng-click="remove(party)">X</button>
	  </li>
	</ul> -->
</div>